.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #77002e;
    padding: 1em 10%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: "Zilla Slab", serif;
    min-width: 382px;
}

.header ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 0 2em;
}

.header li {
    padding: 0 0.7em;
}

.header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.header a:hover,
.header a:active,
.header a.active {
    color: white;
}

.badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
}
